{% extends 'base.html' %}

{% block content %}
<div class="contents">
    <div class="add-wrapper">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <!--<input class="file-upload"  type="file" name="post-photo"><span class="error-message"><i>{{ error }}</i></span>-->
            <!--<textarea class="form-control" rows="15" type="textarea" name="content" placeholder="글 내용"></textarea>-->
            {{ form }}
            <input class="btn btn-default" type="submit" value="업로드">
        </form>
    </div>
</div>
{% endblock %}