/* global */

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


/* global end */
/* header start */

.header {
    height: 77px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.header-wrapper {
    padding: calc(77px/4) 0;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align: center;
}


.insta-icon {
    height: 40px;
    margin-right: 10px;
}

.insta-logo {
    height: 40px;
    padding-left: 10px;
    border-left: 1px solid rgb(146, 146, 146);
}
/* header end */

