/* body start */

.contents {
    width: 600px;
    margin: 0 auto;
    padding-top: 140px;
}


/* post start */
.post{
    border: 1px solid #ddd;
    margin-bottom: 60px;
    border-radius: 2px;
}

.post .post-header {
    border-bottom: 1px solid #ddd;
}

.post .post-header p {
    margin: 10px 10px;
}

.post .post-header a {
    float: right;
}

/* .post .post-photo img {
    max-width: 100%;
    width: 700px;
    margin: 0;
    padding: 0;
} */

/* post-content start */

.post a {
    text-decoration: none;
    color: black;
}

.post p {
    padding: 0;
    margin: 0;
}

.post-add {
    position: fixed;
    height: 30px;
    width: 30px;
    right: 50px;
    bottom: 50px;
}

.post-add img {
    height: 50px;
    width: 50px;
}
