/* body start */

.contents {
    width: 600px;
    margin: 0 auto;
    padding-top: 60px;
}


/* post start */
.post{
    border: 1px solid #ddd;
    margin-bottom: 60px;
    border-radius: 2px;
}

.post .post-header p {
    margin: 10px 10px;
}

.post .post-header a {
    float: right;
}

.post .post-photo img {
    max-width: 100%;
    width: 700px;
    margin: 0;
    padding: 0;
}

/* post-content start */

.post a {
    text-decoration: none;
    color: black;
}

.post p {
    padding: 0;
    margin: 0;
}

.post .post-content {
    padding: 0 16px;
}

.post .post-content .content .content-author {
    font-weight: bolder;
}

.post .post-content .buttons ul {
    margin: 0;
    padding: 0;
}

.post .post-content .buttons div {
    height: 24px;
    width: 24px;
    margin-top: 10px;
    margin-right: 10px;
}

.post .post-content .buttons .like-button {
    background-image: url(https://www.instagram.com/static/bundles/sprite_core.png/13cecc35f7af.png);
    background-position: -208px -336px;
}

.post .post-content .buttons .comment-button {
    background-image: url(https://www.instagram.com/static/bundles/sprite_core.png/13cecc35f7af.png);
    background-position: -355px -263px;
}

.post .post-content .content {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.post .post-comment {
    width: 100%;
}

.post .post-comment div.comment {
    margin: 5px 0;
}

.post .post-comment div.comment p {
    margin: 0;
    padding: 0;
}

.post .post-comment div.comment .delete-comment span {
    float: right;
    color: #ccc;
}

.post .post-comment div.comment .delete-comment span::before {
    content:'\2715';
    display: block;
}

.post .post-comment input{
    float: right;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: rgb(92, 92, 92);
    outline: none;
}

.post .created-date {
    font-size: 0.5em;
    margin: 10px 0;
    color: #999;
}

.post .post-form {
    overflow: hidden;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 16px 0;
}

.post .post-form .comment-input {
    max-width: 100%;
    width: 95%;
    border: 0;
    float: left;
}

.post .post-form .comment-input:focus {
    outline: none;
}


.post .post-form section div.options {
    float: right;
    background-image: url(https://www.instagram.com/static/bundles/sprite_core.png/13cecc35f7af.png);
    background-position: -276px -115px;
    height: 16px;
    width: 16px;
    margin: 3px 0;
}

.post-add {
    position: fixed;
    height: 30px;
    width: 30px;
    right: 50px;
    bottom: 50px;
}

.post-add img {
    height: 50px;
    width: 50px;
}
