/* body start */

.contents {
    width: 600px;
    margin: 0 auto;
    padding-top: 140px;
}


/* post start */
.post{
    border: 1px solid #ddd;
    margin-bottom: 60px;
    border-radius: 2px;
}

.post .post-header {
    border-bottom: 1px solid #ddd;
}

.post .post-header p {
    margin: 10px 10px;
}

.post .post-header a {
    float: right;
}


/* post-content start */

.post a {
    text-decoration: none;
    color: black;
}

.post p {
    padding: 0;
    margin: 0;
}


/* comment-delete */
.delete-comment span {
    float: right;
    color: #ccc;
}

.delete-comment span::before {
    content:'\2715';
    display: block;
}

.delete-comment {
    float: right;
    height: 20px;
    width: 20px;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #aaa;
}

.delete-comment:focus {
    outline: none;
}

/* comment-delete end */