{% extends 'base.html' %}

{% block content %}
<div class="profile-content">
    <div class="container">
        <div class="profile-head">
            <div>
                {% if 'media' in user.img_profile %}
                <img src="{{ user.img_profile }}" alt="" class="profile-img img-circle">
                {% else %}
                <img src="/media/{{ user.img_profile }}" alt="" class="profile-img img-circle">
                {% endif %}
                <div class="profile-info">
                    <span class="username">{{ user.username }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}