{% extends 'base.html' %}

{% block content %}
<div class="profile-content">
    <div class="profile-container">
        <div class="profile-head">
            <img src="/media/{{ user.img_profile }}" alt="" class="profile-img img-circle">
            <div class="profile-info">
                <span class="username">{{ user.username }}</span>
                <div class="info-wrapper">
                    <span>게시물 <strong>{{ user.post_set.count }}</strong></span>
                    <span>팔로워 <strong>{{ user.followers.count }}</strong></span>
                    <span>팔로잉 <strong>{{ user.following.count }}</strong></span>
                </div>
                <div class="name">
                    <span class="nick-name">{{ user.nickname }}</span>
                    <span class="real-name">{{ user.first_name }} {{ user.last_name }}</span>
                </div>
            </div>
        </div>
        <div class="post-thumbnails">
            <div class="thumbnail-wrapper">
            {% for post in user.post_set.all %}
                <div class="photos">
                    <a href="{% url 'post:post_detail' pk=post.pk %}">
                        <img src="/media/{{ post.photo }}" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}