{% extends 'base.html' %}

{% block content %}
<div class="signup-body">
{% if signed_up %}
    <h1 class="signup-finished">회원가입 완료!</h1>
{% else %}
    <h3>회원가입</h3>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        <div class="no-match">{{ form.username.errors|striptags }}</div>
        {{ form.mail }}
        {{ form.password_1 }}
        {{ form.password_2 }}
        <div class="no-match">{{ form.password.errors|striptags }}</div>


        <input class="btn btn-default" type="submit" value="회원가입">
    </form>

{% endif %}
</div>
{% endblock %}